# 应用配置
NODE_ENV="development"
PORT="13000"

# 数据库配置
DB_TYPE="postgres"
DB_HOST="localhost"
DB_PORT="15432"
DB_USERNAME="chenille"
DB_PASSWORD="dE4kL3xT6gI1hT4eQ1cP2iV7iK4jQ6sK"
DB_DATABASE="chenille"

# JWT配置
JWT_SECRET="vK8xN2mP5qR9sT3wY6zA1bD4eF7gH0jL3mN6pQ9rS2tV5xW8yZ1aC4dE7fG0hJ3kM6nP"
JWT_EXPIRES_IN="7d"

# Redis配置
REDIS_HOST="localhost"
REDIS_PORT="16379"
REDIS_PASSWORD=""
REDIS_DB="1"

# 邮件配置
EMAIL_SMTP_HOST="smtp.exmail.qq.com"
EMAIL_SMTP_PORT="465"
EMAIL_SMTP_SECURE="true"
EMAIL_SMTP_USER="system@chenjiabao.com"
EMAIL_SMTP_PASS="uXRsvywBrTdrRyiF"
EMAIL_FROM_EMAIL="system@chenjiabao.com"
EMAIL_FROM_NAME="Chenille"
