# 应用配置
NODE_ENV="development"
PORT="13000"

# 数据库配置
DB_TYPE="postgres"
DB_HOST="localhost"
DB_PORT="5432"
DB_USERNAME="*******"
DB_PASSWORD="*******"
DB_DATABASE="******"

# JWT配置
JWT_SECRET="****************"
JWT_EXPIRES_IN="7d"

# Redis配置
REDIS_HOST="localhost"
REDIS_PORT="16379"
REDIS_PASSWORD=""
REDIS_DB="1"

# 邮件配置
EMAIL_SMTP_HOST="smtp.exmail.qq.com"
EMAIL_SMTP_PORT="465"
EMAIL_SMTP_SECURE="true"
EMAIL_SMTP_USER="***"
EMAIL_SMTP_PASS="***"
EMAIL_FROM_EMAIL="***"
EMAIL_FROM_NAME="Chenille"
